<mat-card style="width: 50%; margin:auto; " >
    <form  (ngSubmit)="onSubmit(onSignup)" #onSignup="ngForm">
    <mat-form-field  style="padding-top: 1rem;">
        <input type="email" name="email" ngModel #emailInput="ngModel" matInput placeholder="E-mail **" required email>
        <mat-error *ngIf="!emailInput.Valid && emailInput.dirty||emailInput.touched">
            Please enter a Valid Email.
          </mat-error>
      </mat-form-field>  
      <mat-form-field >
        <input type="password" name="password"  #passwordInput="ngModel" matInput placeholder="Password **" ngModel required pattern="/^(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=\D*\d).{8,}$/" >
        <mat-error *ngIf="!passwordInput.Valid && passwordInput.dirty||passwordInput.touched" >
            Please enter A Valid Password
          </mat-error>  
    </mat-form-field>    
      <button mat-raised-button color="primary" type="submit" [disabled]="!onSignup.valid">Signup</button> 
    </form>
  </mat-card>
  <h3 style="text-align: center; margin-top: 1rem; color:cadetblue; font-family: 'Courier New', Courier, monospace;">Already a Account ? <a routerLink="/login">Login</a></h3>